<footer class="bg-dark-blue pt-4 px-4 color-white">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <h2 class="w-100 text-center" >Programando ideas</h2>
           <li><a href="tel:+584268691664"><i class="fa-solid fa-phone"></i> Teléfono: +58 426 869 1664</a></li>
           <li><a href="mailto:admin@programandoidea.com"><i class="fa-solid fa-envelope"></i> Email: admin@programandoidea.com</a></li>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <h2>Links útiles</h2>
            
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Proyectos</a></li>
                <li><a href="">Contáctanos</a></li>
            </ul>

        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <h2>Nuestros servicios</h2>
            <ul>
                <li><a href="">Web</a></li>
                <li><a href="">Mobile</a></li>
                <li><a href="">Apps</a></li>
                <li><a href="">Diseños</a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <h2>Nuestras redes</h2>
            <p>Siguenos en nuestras redes sociales</p>
            <ul class="d-flex justify-content-between">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-github"></i></a>
            </ul>
        </div>
    </div>
    <p class="text-center">Programando ideas 2023 - Derechos reservados by TEAM BLUE 1</p>
</footer>