<nav class="navbar navbar-expand-lg fs-5 bg-dark-blue" data-bs-theme="dark">
    <div class="container d-flex">
        <img id="logoHeader" alt="logo" width="120" /><!--  height="50" -->
        <!-- Esta imagen debe ser cargada desde js para no tener conflicto con los links -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <a class="nav-link pointer" aria-current="page" onclick="index()" id="inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pointer" onclick="conocenos()" id="conocenos">Conócenos</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link pointer" id="proyectos" onclick="proyectos()">
                        Proyectos
                    </a>
                </li>
                <li class="nav-item logged-out hidden">
                    <a class="nav-link rounded-pill border border-2 border-success pointer"
                        onclick="acceder()">Acceder</a>
                </li>
                <li class="nav-item dropdown logged-in align-items-center hidden">
                    <img alt="" id="logo" class="logo">

                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" id="usuario">
                        Usuario
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li>
                        <li><a class="dropdown-item onlyAdmin hidden" href="../pages/dashboard.html">Tablero</a></li>
                        <li>
                        <li><a class="dropdown-item" href="../pages/publicar-idea.html">Publicar Idea</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#" onclick="" id="logout">Cerrar sesión</a></li>
                    </ul>
                </li>
                <li class="nav-item ">
                    <a class="nav-link pointer" onclick="darkmode()">
                        <i id="darkmode" class="fa fa-sun"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<script>
    const currentPage = window.location.href;
    if (currentPage.includes("conocenos.html")) {
        document.getElementById("conocenos").classList.add("active-tab");
    } else if (currentPage.includes("index.html")) {
        document.getElementById("inicio").classList.add("active-tab");
    } else if (currentPage.includes("proyectos.html")) {
        document.getElementById("proyectos").classList.add("active-tab");
    }

    if (currentPage.includes("pages")) {
        document.getElementById("logoHeader").setAttribute("src", "../assets/img/logoblanco.png")
        document.getElementById("logo").setAttribute("src", "../assets/img/perfil.png")
    } else {
        document.getElementById("logoHeader").setAttribute("src", "assets/img/logoblanco.png")
        document.getElementById("logo").setAttribute("src", "assets/img/perfil.png")
    }

    function index() {
        if (currentPage.includes("pages")) {
            window.location.href = "../index.html";
        }
    }
    function proyectos() {

        if (currentPage.includes("pages")) {
            window.location.href = "../pages/proyectos.html";
        } else {
            window.location.href = "#proyectos-section";
        }
    }
    function conocenos() {

        if (currentPage.includes("pages")) {
            window.location.href = "../pages/conocenos.html";
        } else {
            window.location.href = "#conocenos-section";
        }
    }
    function acceder() {
        if (currentPage.includes("pages")) {

            window.location.href = "../pages/sign-in-out.html";
        } else {
            window.location.href = "pages/sign-in-out.html";
        }
    }
    
/* Controlar darkmode */
const btn= document.getElementById("darkmode");
let darkmodekey = localStorage.getItem("darkmode");

function darkmode(){
    let bgDarkBlue= document.querySelectorAll(".bg-dark-blue");
    let btnGradient= document.querySelectorAll(".btn-gradient");
    btn.classList.toggle("fa-sun")
    btn.classList.toggle("fa-moon")
    bgDarkBlue.forEach(bg=>{/* 
        bg.classList.toggle("bg-dark-blue") */
        bg.classList.toggle("bg-dark")
    });
    btnGradient.forEach(boton=>{/* 
        bg.classList.toggle("bg-dark-blue") */
        boton.classList.toggle("dark")
    });
    if(darkmodekey=== null || darkmodekey=== "false"){
        localStorage.setItem("darkmode","true")
    }else{
        localStorage.setItem("darkmode","false")
    }
}

</script>

<style>
    #header {


        width: 100%;
        /* hacemos que la cabecera ocupe el ancho completo de la página */
        left: 0;
        /* Posicionamos la cabecera al lado izquierdo */
        top: 0;
        z-index: 99999;
        position: sticky;

    }
</style>
